[submodule "Demo/Vendor/TouchFoundation"]
	path = Demo/Vendor/TouchFoundation
	url = https://github.com/TouchCode/TouchFoundation.git
[submodule "Demo/Vendor/trundle"]
	path = Demo/Vendor/trundle
	url = https://github.com/schwa/trundle.git
[submodule "MobileCouchbase/Vendor/iMonkey"]
	path = MobileCouchbase/Vendor/iMonkey
	url = git://github.com/arciem/iMonkey.git
