.DS_Store
*.swp
*.pbxuser
*.perspectivev3
*.mode1v3
xcuserdata/
build
DerivedData
MobileCouchbase/erlang/lib/couch
MobileCouchbase/erlang/lib/ejson
MobileCouchbase/erlang/lib/emonk
MobileCouchbase/erlang/lib/erlang-oauth
MobileCouchbase/erlang/lib/ibrowse
MobileCouchbase/erlang/lib/mochiweb
MobileCouchbase/erlang/lib/snappy
