[submodule "Demo/Vendor/TouchFoundation"]
	path = Demo/Vendor/TouchFoundation
	url = https://github.com/TouchCode/TouchFoundation.git
[submodule "Demo/Vendor/trundle"]
	path = Demo/Vendor/trundle
	url = https://github.com/schwa/trundle.git
[submodule "MobileCouchbase/Vendor/iMonkey"]
	path = MobileCouchbase/Vendor/iMonkey
	url = git://github.com/couchbaselabs/iMonkey.git
[submodule "MobileCouchbase/Vendor/iErl14"]
	path = MobileCouchbase/Vendor/iErl14
	url = git://github.com/couchbaselabs/iErl14.git
[submodule "MobileCouchbase/Vendor/ios-openssl"]
	path = MobileCouchbase/Vendor/ios-openssl
	url = git@github.com:arciem/ios-openssl.git
[submodule "Demo/Vendor/TouchJSON"]
	path = Demo/Vendor/TouchJSON
	url = git@github.com:arciem/TouchJSON.git
